<section class="aboutus-section">
  <div class="container ab-us">
    <div class="aboutus-cont">
      <div class="aboutus-cont-wr">
        <h2 class="aboutus-title">About Us</h2>
        <p class="aboutus-par par">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p class="aboutus-par">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
        <button class="aboutus-but" type="button">View catalog</button>
      </div>
    </div>

    <div class="aboutus-cont-img">
      <picture
        ><source
          media="(min-width: 1280px)"
          srcset="./img/aboutus_desk.jpg, ./img/aboutus_desk@2x.jpg 2x" />
        <source
          media="(min-width: 768px)"
          srcset="./img/aboutus_tabl.jpg, ./img/aboutus_tabl@2x.jpg 2x" />
        <img
          src="./img/aboutus_mobile.jpg"
          srcset="./img/aboutus_mobile@2x.jpg 2x"
          alt="watch"
      /></picture>
    </div>
  </div>
</section>
