<!-- Section Catalog= "ctlg" -->
<section class="container ctlg">
    <h2 class="ctlg-aa">Catalog</h2>
    <div>
      <ul class="ctlg-ab">
        <li class="ctlg-abb">
          <div class="ctlg-abc">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/clock-one-dsk.webp    1x,
                  ../images/clock-one-dsk@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/clock-one-tbl.webp    1x,
                  ../images/clock-one-tbl@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../images/clock-one-mob.webp    1x,
                  ../images/clock-one-mob@2x.webp 2x
                "
              />
              <img
                class="ctlg-abg"
                src="../images/clock-one-mob.webp"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
              />
            </picture>
            <div class="ctlg-abd">
              <p class="ctlg-abe">Garmin Fenix 7X Pro Sapphire Solar</p>
              <p class="ctlg-abf">€500</p>
            </div>
          </div>
        </li>
        <li class="ctlg-abb">
          <div class="ctlg-abc">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/clock-two-dsk.webp    1x,
                  ../images/clock-two-dsk@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/clock-two-tbl.webp    1x,
                  ../images/clock-two-tbl@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../images/clock-two-mob.webp    1x,
                  ../images/clock-two-mob@2x.webp 2x
                "
              />
              <img
                src="../images/clock-two-mob.webp"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                class="ctlg-abg"
              />
            </picture>
            <div class="ctlg-abd">
              <p class="ctlg-abe">Garmin Marq Athleter</p>
              <p class="ctlg-abf">€450</p>
            </div>
          </div>
        </li>
        <li class="ctlg-abb">
          <div class="ctlg-abc">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/clock-three-dsk.webp    1x,
                  ../images/clock-three-dsk@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/clock-three-tbl.webp    1x,
                  ../images/clock-three-tbl@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../images/clock-three-mob.webp    1x,
                  ../images/clock-three-mob@2x.webp 2x
                "
              />
              <img
                src="../images/clock-three-mob.webp"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                class="ctlg-abg"
              />
            </picture>
            <div class="ctlg-abd">
              <p class="ctlg-abe">Garmin Descent MK1</p>
              <p class="ctlg-abf">€680</p>
            </div>
          </div>
        </li>
        <li class="ctlg-abb">
          <div class="ctlg-abc">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/clock-four-dsk.webp    1x,
                  ../images/clock-four-dsk@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/clock-four-tbl.webp    1x,
                  ../images/clock-four-tbl@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../images/clock-four-mob.webp    1x,
                  ../images/clock-four-mob@2x.webp 2x
                "
              />
              <img
                src="../images/clock-four-mob.webp"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                class="ctlg-abg"
              />
            </picture>
            <div class="ctlg-abd">
              <p class="ctlg-abe">Garmin D2 Delta PX</p>
              <p class="ctlg-abf">€380</p>
            </div>
          </div>
        </li>
        <li class="ctlg-abb ctlg-abb-nn">
          <div class="ctlg-abc">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/clock-five-dsk.webp    1x,
                  ../images/clock-five-dsk@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/clock-five-tbl.webp    1x,
                  ../images/clock-five-tbl@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../images/clock-five-mob.webp    1x,
                  ../images/clock-five-mob@2x.webp 2x
                "
              />
              <img
                src="../images/clock-five-mob.webp"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                class="ctlg-abg"
              />
            </picture>
            <div class="ctlg-abd">
              <p class="ctlg-abe">Garmin Fenix 6 Pro Solar</p>
              <p class="ctlg-abf">€400</p>
            </div>
          </div>
        </li>
        <li class="ctlg-abb ctlg-abb-nn">
          <div class="ctlg-abc">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/clock-six-dsk.webp    1x,
                  ../images/clock-six-dsk@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/clock-six-tbl.webp    1x,
                  ../images/clock-six-tbl@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../images/clock-six-mob.webp    1x,
                  ../images/clock-six-mob@2x.webp 2x
                "
              />
              <img
                src="../images/clock-six-mob.webp"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                class="ctlg-abg"
              />
            </picture>
            <div class="ctlg-abd">
              <p class="ctlg-abe">
                Tube Watch S42 Date Steel With Black Case
              </p>
              <p class="ctlg-abf">€395</p>
            </div>
          </div>
        </li>
      </ul>
      <button type="button" class="ctlg-ac">Show more</button>
    </div>
  </section>