<!-- Section Catalog= "ctlg" -->
<section class="container ctlg">
  <h2 class="ctlg-aa">Catalog</h2>
  <div>
    <ul class="ctlg-ab">
      <li class="ctlg-abb">
        <div>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/clock-one-dsk.webp    1x,
                ./img/clock-one-dsk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/clock-one-tbl.webp    1x,
                ./img/clock-one-tbl@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/clock-one-mob.webp    1x,
                ./img/clock-one-mob@2x.webp 2x
              "
            />
            <img
              class="ctlg-abg"
              src="./img/clock-one-mob.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
            />
          </picture>
        </div>
        <div class="ctlg-abd">
          <p class="ctlg-abe">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="ctlg-abf">€500</p>
        </div>
      </li>
      <li class="ctlg-abb">
        <div>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/clock-two-dsk.webp    1x,
                ./img/clock-two-dsk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/clock-two-tbl.webp    1x,
                ./img/clock-two-tbl@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/clock-two-mob.webp    1x,
                ./img/clock-two-mob@2x.webp 2x
              "
            />
            <img
              src="./img/clock-two-mob.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              class="ctlg-abg"
            />
          </picture>
        </div>
        <div class="ctlg-abd">
          <p class="ctlg-abe">Garmin Marq Athleter</p>
          <p class="ctlg-abf">€450</p>
        </div>
      </li>
      <li class="ctlg-abb">
        <div>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/clock-three-dsk.webp    1x,
                ./img/clock-three-dsk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/clock-three-tbl.webp    1x,
                ./img/clock-three-tbl@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/clock-three-mob.webp    1x,
                ./img/clock-three-mob@2x.webp 2x
              "
            />
            <img
              src="./img/clock-three-mob.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              class="ctlg-abg"
            />
          </picture>
        </div>
        <div class="ctlg-abd">
          <p class="ctlg-abe">Garmin Descent MK1</p>
          <p class="ctlg-abf">€680</p>
        </div>
      </li>
      <li class="ctlg-abb">
        <div>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/clock-four-dsk.webp    1x,
                ./img/clock-four-dsk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/clock-four-tbl.webp    1x,
                ./img/clock-four-tbl@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/clock-four-mob.webp    1x,
                ./img/clock-four-mob@2x.webp 2x
              "
            />
            <img
              src="./img/clock-four-mob.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              class="ctlg-abg"
            />
          </picture>
        </div>
        <div class="ctlg-abd">
          <p class="ctlg-abe">Garmin D2 Delta PX</p>
          <p class="ctlg-abf">€380</p>
        </div>
      </li>
      <li class="ctlg-abb ctlg-abb-nn">
        <div class="ctlg-abc">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/clock-five-dsk.webp    1x,
                ./img/clock-five-dsk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/clock-five-tbl.webp    1x,
                ./img/clock-five-tbl@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/clock-five-mob.webp    1x,
                ./img/clock-five-mob@2x.webp 2x
              "
            />
            <img
              src="./img/clock-five-mob.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              class="ctlg-abg"
            />
          </picture>
        </div>
        <div class="ctlg-abd">
          <p class="ctlg-abe">Garmin Fenix 6 Pro Solar</p>
          <p class="ctlg-abf">€400</p>
        </div>
      </li>
      <li class="ctlg-abb ctlg-abb-nn">
        <div>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/clock-six-dsk.webp    1x,
                ./img/clock-six-dsk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/clock-six-tbl.webp    1x,
                ./img/clock-six-tbl@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/clock-six-mob.webp    1x,
                ./img/clock-six-mob@2x.webp 2x
              "
            />
            <img
              src="./img/clock-six-mob.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              class="ctlg-abg"
            />
          </picture>
        </div>
        <div class="ctlg-abd">
          <p class="ctlg-abe">Tube Watch S42 Date Steel With Black Case</p>
          <p class="ctlg-abf">€395</p>
        </div>
      </li>
    </ul>
    <div class="ctlg-ad">
      <button type="button" class="ctlg-ac">Show more</button>
    </div>
  </div>
</section>
