<section class="section-contact-us">
  <div class="container box-contact-us">
    <h2 class="contact-us-hero">Contact Us</h2>
    <div class="container-contact">
      <div class="container-contact-us">
        <div class="box-form">
          <p class="contact-us-p">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </p>

          <form>
            <div class="">
              <label for="user-name" class="label-contact-us"> </label>
              <div class="form-input-container">
                <input
                  id="user-name"
                  name="user-name"
                  type="text"
                  class="user-name-input"
                  placeholder="Name"
                  pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
                  required
                />
              </div>
            </div>
            <div class="form-container-contact-us">
              <label for="user-email" class=""></label>
              <div class="form-input-container">
                <input
                  id="user-email"
                  name="user-email"
                  type="text"
                  class="user-name-input"
                  placeholder="Email"
                  required
                />
              </div>
            </div>
            <div class="form-container-contact-us">
              <label for="user-phone" class=""> </label>
              <div class="form-input-container">
                <input
                  id="user-phone"
                  name="user-phone"
                  type="text"
                  class="user-name-input"
                  placeholder="+380"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                  required
                />
              </div>
            </div>
            <div class="form-container-contact-us">
              <label for="user-comment" class="form-container-label"></label>
              <textarea
                name="user-comment"
                id="user-comment"
                placeholder="Comment"
                class="textarea-field"
              ></textarea>
            </div>
          </form>
        </div>

        <div class="">
          <button type="submit" class="submit-button">Send</button>
        </div>
      </div>
      <picture>
        <source
          srcset="
            ./img/PC/watchcontactuspc.jpg,
            ./img/PC/watchcontactuspc2x.jpg
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/planshet/watchcontactusplansh.jpg,
            ./img/planshet/watchcontactusplansh2x.jpg
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/phone/watchcontactustele.jpg,
            ./img/phone/watchcontactustele2x.jpg
          "
          media="(max-width: 767px)"
        />
        <img
          src="./img/PC/watchcontactuspc.jpg"
          alt="watch"
          width="530"
          height="556"
          class="img-watch"
        />
      </picture>
    </div>
  </div>
</section>
