<header class="header-page">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="index.html" class="header-logo">WatchCharm</a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link current">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">About us</a>
        </li>
        <li class="header-nav-item">
          <a href="#catalog" class="header-nav-link">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a href="#sale" class="header-nav-link">Sale</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="#contact-us" class="header-nav-link">Contact us</a>
        </li>
      </ul>
    </nav>
    <address class="socials">
      <ul class="header-social-list">
        <li class="header-social-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank" class="header-social-link">
            <svg class="header-icons" width="20" height="20">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank" class="header-social-link">
            <svg class="header-icons" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" class="header-social-link">
            <svg class="header-icons" width="20" height="20">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button class="header-btn-menu" data-menu-open type="button">
      <svg class="header-icon-menu">
        <use href="./img/sprite.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>