<section class="hero">
  <div class="container">
    <div class="hero-imba">
      <div class="hero-text">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-blue">collection</span> of
          premium watches
        </h1>
        <p class="hero-paragraph">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-image">
        <ul class="hero-avatargroup">
          <li class="hero-avatar">
            <img
              src="/img/victoria.webp"
              srcset="/img/hero/victoria@x2.webp x2"
              alt="Victoria Romashenko"
            />
          </li>
          <li class="hero-avatar">
            <img
              src="/img/john.webp"
              srcset="/img/john@x2.webp x2"
              alt="John Wax"
            />
          </li>
          <li class="hero-avatar">
            <img
              src="/img/anastasia.webp"
              srcset="/img/anastasia@x2.webp x2"
              alt="Anastasia Trachuk"
            />
          </li>
        </ul>
        <div class="hero-scroll">
          <a class="hero-scroll-link" href="#footer-logo">Scroll down</a>
        </div>
      </div>
    </div>
    <div class="hero-rectangle">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/hero/hero-clock-laptop@x1.jpg 1x,
            /img/hero/hero-clock-laptop@x2.jpg 2x
          " />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero/hero-clock-tablet@x1.jpg 1x,
            /img/hero/hero-clock-tablet@x2.jpg 2x
          " />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero/hero-clock-mobile@x1.jpg 1x,
            /img/hero/hero-clock-mobile@x2.jpg 2x
          " />
        <img src="/img/hero/hero-clock-mobile@x1.jpg" alt="hero-clock"
      /></picture>
    </div>
  </div>
</section>
