<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h1 class="hero-title">
        Welcome to our <span class="hero-title-blue">collection</span> of
        premium watches
      </h1>
      <p class="hero-paragraph">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-avatargroup">
      <ul class="hero-list">
        <li class="hero-item">
          <img
            src="../img/hero/Victoria@x1.webp"
            srcset="../img/hero/Victoria@x2 x2.webp"
            alt="Victoria Romashenko"
          />
        </li>
        <li class="hero-item">
          <img
            src="../img/hero/John@x1.webp"
            srcset="../img/hero/John@x2.webp x2"
            alt="John Wax"
          />
        </li>
        <li class="hero-item">
          <img
            src="../img/hero/Anastasia@x1.webp"
            srcset="../img/hero/Anastasia@x2.webp x2"
            alt="Anastasia Trachuk"
          />
        </li>
      </ul>
      <a class="hero-scroll" href="#footer">Scroll down</a>
    </div>
    <div class="hero-rectangle">
      <img src="" />
    </div>
  </div>
</section>
