<div class="mobile-menu is-open">
  <div class="mobile-menu-container">
    <button type="button" class="mobile-menu-button-close">
      <svg class="mobile-menu-button-close-svg" width="34" height="34">
        <use
          class="mobile-menu-button-close-icon"
          href="/img/sprite.svg#icon-icon-mobile-menu-close"
        ></use>
      </svg>
    </button>

    <div class="mobile-menu-nav-container">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link current" href="./index.html"
              >Homee</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#">About Us</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#">Catalog</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#">Sale</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#">Reviews</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="mobile-menu-social-icons">
        <ul class="mobile-menu-social-icons-list">
          <li class="mobile-menu-social-icons-item">
            <a
              class="mobile-menu-social-icons-item-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="mobile-menu-social-icons-svg" width="18" height="18">
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-icons-item">
            <a
              class="mobile-menu-social-icons-item-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="mobile-menu-social-icons-svg" width="18" height="18">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-icons-item">
            <a
              class="mobile-menu-social-icons-item-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="mobile-menu-social-icons-svg" width="18" height="18">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
