<section class="reviews">
  <div class="container rev">
    <h2 class="section-title">Reviews</h2>
    <ul class="rev-list-box">
      <li class="rev-list john-wax">
        <div class="rev-content">
          <img
            class="rev-img"
            srcset="./img/john@x2.webp 2x"
            src="./img/john.webp"
            alt="John Wax"
            width="56"
            height="56"
          />
          <div class="reviewers">
            <h3 class="rev-name">John Wax</h3>
            <p class="rev-text john">
              Buying a watch from was the best choice for me. The design is
              perfectly combined with high quality materials. The strap fits
              nicely on the hand, and the mechanism works flawlessly.
            </p>
          </div>
        </div>
      </li>
      <li class="rev-list victoria">
        <div class="rev-content">
          <img
            class="rev-img"
            srcset="./img/victoria@x2.webp 2x"
            src="./img/victoria.webp"
            alt="Victoria Romashenko"
            width="56"
            height="56"
          />
          <div class="reviewers">
            <h3 class="rev-name">Victoria Romashenko</h3>
            <p class="rev-text viki">
              Can't take my eyes off my watch from. Every time I put it on, it
              is admired by those around me. The build quality and attention to
              detail make it a real gem among my accessories.
            </p>
          </div>
        </div>
      </li>
      <li class="rev-list anastasia">
        <div class="rev-content">
          <img
            class="rev-img"
            srcset="./img/anastasia@x2.webp 2x"
            src="./img/anastasia.webp"
            alt="Anastasia Trachuk"
            width="56"
            height="56"
          />
          <div class="reviewers">
            <h3 class="rev-name">Anastasia Trachuk</h3>
            <p class="rev-text ana">
              My watch from is a real masterpiece. Every detail impresses with
              the high quality of execution. Special features like [specify
              features] make it an indispensable companion in my daily life.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
