<section class="sale-section">
    <div class="container sale-container">
        <h2 class="sale-header">Sale</h2>
        <div class="sale-content-wrap">
            <ul class="sale-list">
                <li class="sale-list-item">
                    <picture>
                        <source srcset="./img/sale-img1-desk.webp 1x, ./img/sale-img1-desk@2x.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./img/sale-img1-tab.webp 1x, ./img/sale-img1-tab@2x.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/sale-img1-mob.webp 1x, ./img/sale-img1-mob@2x.webp 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale-img1-mob.webp" alt="Watch-1" />
                    </picture>
                </li>
                <li class="sale-list-item">
                    <picture>
                        <source srcset="./img/sale-img2-desk.webp 1x, ./img/sale-img2-desk@2x.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./img/sale-img2-tab.webp 1x, ./img/sale-img2-tab@2x.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/sale-img2-mob.webp 1x, ./img/sale-img2-mob@2x.webp 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale-img2-mob.webp" alt="Watch-2" />
                    </picture>
                </li>
                <li class="sale-list-item">
                    <picture>
                        <source srcset="./img/sale-img3-desk.webp 1x, ./img/sale-img3-desk@2x.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./img/sale-img3-tab.webp 1x, ./img/sale-img3-tab@2x.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/sale-img3-mob.webp 1x, ./img/sale-img3-mob@2x.webp 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale-img3-mob.webp" alt="Watch-3" />
                    </picture>
                </li>
                <li class="sale-list-item">
                    <picture>
                        <source srcset="./img/sale-img4-desk.webp 1x, ./img/sale-img4-desk@2x.webp 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./img/sale-img4-tab.webp 1x, ./img/sale-img4-tab@2x.webp 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/sale-img4-mob.webp 1x, ./img/sale-img4-mob@2x.webp 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/sale-img4-mob.webp" alt="Watch-4" />
                    </picture>
                </li>
            </ul>
            <div class="sale-main-watch-container">
                <picture>
                    <source srcset="./img/sale-img5-desk.webp 1x, ./img/sale-img5-desk@2x.webp 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./img/sale-img5-tab.webp 1x, ./img/sale-img5-tab@2x.webp 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./img/sale-img5-mob.webp 1x, ./img/sale-img5-mob@2x.webp 2x"
                        media="(max-width: 767px)" />
                    <img src="./img/sale-img5-mob.webp" alt="Watch-5" />
                </picture>
            </div>
            <div class="sale-description-container">
                <h3 class="sale-main-watch-header">MARQ® Commander <span class="sale-span-gen">(Gen
                    </span><span class="sale-span-hyphen">2) -</span>
                    Carbon Edition
                </h3>
                <p class="sale-product-tag">Product tag: 706587</p>
                <p class="sale-price"><span class="sale-new-price">1500</span><span class="sale-old-price">3000</span>
                </p>
                <p class="sale-description-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
                    smartwatch
                    for adventurers that takes materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and
                    has
                    a precise AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any
                    conditions.</p>
                <ul class="sale-descr-features-list">
                    <li class="sale-descr-feature-item">Fused carbon fiber</li>
                    <li class="sale-descr-feature-item">Grade-5 Titanuim</li>
                    <li class="sale-descr-feature-item">Athlete</li>
                    <li class="sale-descr-feature-item">Golfer</li>
                    <li class="sale-descr-feature-item">Commander</li>
                    <li class="sale-descr-feature-item">Adventurer</li>
                </ul>
            </div>
        </div>
    </div>
</section>