/* ----------------footer------------------ */

.footer {
  background: #0c0c0c;
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  width: 335px;
  height: 581px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.container-footer {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.footer-top-container {
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-link-color {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.soc-list-footer {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: #f4f4fd;
}

.subscribe-container {
  margin-left: 0 auto;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.subscribe-form {
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;

  margin-bottom: 16px;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #31d0aa;
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .container-footer {
    display: flex;
    gap: 72px 24px;
    justify-content: flex-start;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .subscribe-input {
    width: 264px;
  }

  .footer-logo-link {
    justify-content: start;
  }

  .footer-social-title {
    text-align: left;
  }

  .subscribe-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
    gap: unset;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-social-container {
    margin-right: 80px;
  }
}
