.footer {
  /* margin-top: 30px;
  margin-bottom: 20px; */
  margin: 30px 20px 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    /* margin-top: 40px;
    margin-bottom: 32px; */
    margin: 40px 32px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    /* margin-top: 50px; */
    margin: 50px 32px 32px;
  }
}

.footer-container {
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  background-color: #0c0c0c;
  color: #fbfbfb;
  position: relative;
  /* margin-bottom: 20px; */
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 40px 40px 28px 40px;
  }
}

.footer-top-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-top-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 20px;
  }
}

.footer-sm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-sm-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

@media screen and (min-width: 768px) {
  .footer-sm-item {
    width: 36px;
    height: 36px;
  }
}

.footer-tel {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-align: center;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  padding: 14px 20px;
  max-width: 152px;
  max-height: 44px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-tel {
    padding: 15px;
    line-height: 129%;
    font-size: 14px;
    max-width: 160px;
    max-height: 48px;
    margin-bottom: 86px;
  }
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 279px;
  justify-self: center;
  margin-bottom: 92px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 28px;
    line-height: 114%;
    max-width: 545px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-text {
    position: absolute;
    top: 40px;
    left: 50%;
    translate: -50%;
    margin: 0;
  }
  .footer-tel {
    margin-bottom: 174px;
  }
}

.footer-nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    flex-wrap: nowrap;
    gap: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav {
    gap: 40px;
  }
}

.footer-nav-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-nav-item {
    font-size: 14px;
    line-height: 129%;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-li:nth-child(2) {
    margin-right: 50px;
  }
  .footer-nav-li:nth-child(5) {
    margin-right: 50px;
  }
  .footer-nav {
    padding-bottom: 28px;
  }
}

.footer-address {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  max-width: 83px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    font-size: 14px;
    line-height: 129%;
    max-width: 162px;
    padding-bottom: 28px;
  }
}

.footer-bottom {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .footer-bottom {
    font-size: 14px;
    line-height: 129%;
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-tos-pp {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-icon {
  fill: rgba(251, 251, 251, 0.8);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-sm-link:hover .footer-icon,
.footer-sm-link:focus .footer-icon {
  fill: #fbfbfb;
}

.footer-sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
