.mobile-menu {
  position: fixed;
  padding: 20px;
  top: 0;
  right: 0;
  width: 200px;

  height: 100%;
  background-image: url(../img/mobile-menu-background-mobile.jpg);
}

@media (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: url(../img/mobile-menu-background-mobile@2x.jpg);
    background-size: cover;
  }
}

.mobile-menu-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 34px;
  border: none;
  cursor: pointer;
  background: none;
}

.mobile-menu-button-close-svg {
  stroke: #fbfbfb;
  stroke-width: 2;

  z-index: 10;
}

.mobile-menu-button-close-icon {
  width: 34px;
  height: 34px;
}

.mobile-menu-nav {
  margin: 240px auto 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 238px;
}

.mobile-menu-nav-item-link.current {
  position: relative;
}

.mobile-menu-nav-item-link.current::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
}

.mobile-menu-social-icons {
  margin: 260px auto 20px auto;
}

.mobile-menu-social-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mobile-menu-social-icons-item-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

.mobile-menu-social-icons-svg {
  fill: #fbfbfb;
}

.mobile-menu-social-icons-svg:hover,
.mobile-menu-social-icons-svg:focus {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
    background-image: url(../img/mobile-menu-background-tablet.jpg);
  }
  @media (min-resolution: 192dpi) {
    .mobile-menu {
      background-image: url(../img/mobile-menu-background-tablet@2x.jpg);
      background-size: cover;
    }
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
